@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap");

:root {
  /* color styles */
  --main-bg-color: rgb(27, 27, 27);
  --main-font-color: white;
  --light-pink: rgb(255, 205, 205);

  /* container width */
  --max-width-rem: 100rem;

  /* container margins */
  --main-margin: 0rem 4rem;
  --tablet-margin: 0rem 2rem;
  --mobile-margin: 0rem 1rem;

  /* media querie widths */
  --media-max-width: 2000px;
  --tablet-max-width: 900px;
  --mobile-max-width: 370px;
}

li,
ul,
a {
  text-decoration: none;
  list-style: none;
}

.nav-list-style {
  display: flex;
  text-decoration: none;
  list-style: none;
  width: 100%;
  align-items: center;
}

.max-z-index {
  z-index: 998;
}
